:root {
    --background: aliceblue;
    --color: rgb(95, 94, 94);
    --hover: rgb(57, 143, 214);
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    width: 100%;
    overflow-x: hidden;
}

header {
    direction: rtl;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: var(--background);
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

header li a,
.dropbtn, #stage {
    outline: none;
    border: none;
    background-color: transparent;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover, #stage:hover {
    background-color: var(--hover);
    color: var(--background);
}

option {
    background-color: var(--background);
    color: var(--color);
}

.active {
    background-color: var(--hover);
}

.active a {
    color: var(--background);
}

#sidebar {
    grid-area: side;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.video-container {
    grid-area: video;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: button;
}

#button button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the container fit the content */
    font-size: 16px; /* Text size */
    margin: 4px 2px; /* Margin between buttons */
    cursor: pointer; /* Pointer/hand icon on hover */
    transition: background-color 0.3s; /* Smooth transition for hover */
    border-radius: 8px; /* Rounded corners */
}

#button button:hover {
    background-color: #45a049; /* Darker green on hover */
}

main {
    direction: rtl;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr minmax(20px, 0.3fr) 2fr minmax(20px, 0.3fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        'side . . .'
        'side . video .'
        'side . video .'
        'side . button .';
    gap: 10px; /* Adjust gap between elements */
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    padding: 10px;
    width: 100%;
    margin-top: auto;
    z-index: 1000;
}

/* Responsive Design */


/* Extra small devices (phones, less than 480px) */
@media (max-width: 479px) {
    
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media (min-width: 480px) and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599px) {

}

/* Ultra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {

}
