:root {
    --background: aliceblue;
    --color: rgb(95, 94, 94);
    --hover: rgb(57, 143, 214);
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    gap: 10px;
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--background);
    overflow-x: hidden;
    flex: 1;
}

/* header */

header {
    direction: rtl;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: none;
    background: transparent;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#showMenu {
    display: none;
}

#hideMenu {
    display: none;
}

#hideMenuInner {
    display: none;
    align-items: flex-start;
    width: fit-content;
}

header ul {
    gap: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

header li a, #stage, .material-icons {
    outline: none;
    border: none;
    background: transparent;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li {
    cursor: pointer;
}

.headcont {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.material-icons {
    padding: 10.5px;
    cursor: pointer;
}

.material-icons:hover {
    background: var(--hover);
    color: var(--background);
}

header li a:hover, #stage:hover {
    background: var(--hover);
    color: var(--background);
}

#stage {
    border-left: solid 16px var(--background);
    padding-left: 0px;
    cursor: pointer;
}

#stage:hover {
    border-left-color: var(--hover);
}

option {
    background: var(--background);
    color: var(--color);
}

.active {
    background: var(--hover);
}

.active a {
    color: var(--background);
}

.account {
    font-size: 15px;
    color: var(--color);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: var(--background);
    gap: 0;
    
}

.account_dropDown {
    display: flex;
    flex-direction: row;
    gap: 0;justify-content: center;
}

.account_dropDown p {
    outline: none;
    border: none;
    background: transparent;
    padding: 14px 16px;
    margin: 0;
}

.account_dropDown i {
    padding-right: 0;
}

.account_dropDown:hover {
    background-color: var(--hover);
}

.account_dropDown:hover > p, .account_dropDown:hover > .acc_arr{
    color: var(--background);
}

#acc_arr_u {
    display: none;
}

.acc_opt {
    display: none;
    padding: 0 16px 0 0;
    justify-content: space-between;
    cursor: pointer;
}

.acc_opt:hover {
    background: var(--hover);
}

.acc_opt:hover > p, .acc_opt:hover > i{
    color: var(--background);
}

.account:hover > .acc_opt {
    display: flex;
}

.account:hover p {
    padding-right: 0px;
}

.account:hover i {
    padding-left: 0px;
    padding-right: 0px;
}

.account:hover {
    padding: 0;
}

/* header */

/* Main Content */

main {
    flex: 5 5;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.second-container {
    flex: 5 5;
    display: flex;
    flex-direction: row-reverse;
}

.third-container {
    flex: 5 5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: transparent;
    padding: 20px;
    margin-left: 12px;
}

.third-container h1 {
    direction: rtl;
}

#sidebar {
    padding: 5px;
    justify-content: right;
    display: flex;
    flex: 1 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: transparent;
    margin-right: 12px;
    flex-direction: column;
    overflow-y: auto; /* Add scrolling for overflow content */
    overflow-x: hidden;
}

#ads {
    padding: 10px;
    direction: rtl;
    flex: 10 10;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: transparent;
    margin: 0 12px;
}

#ads p {
    padding: 10px;
    margin: 0;
    display: block;
    background: gray;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button button {
    background: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

#button button p {
    display: inline;
}

#button button:hover {
    background: #45a049; /* Darker green on hover */
}

/* Main Content */

/* footer */

footer {
    margin: 0;
    flex: none;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    background: transparent;
    padding: 10px;
}

/* footer */

/* Responsive Design */

/*------------------code------------------*/

@media screen and (min-width: 768px) {
    #sidebar {
        display: none;
    }

    .mainHeader {
        display: flex !important;
    }

    .headerShow {
        display: none;
    }

    #showMenu {
        display: none;
    }

    #hideMenu {
        display: none;
    }

    /* Default state: only sideShow1 is visible on larger screens */
    #sideShow1 {
        display: block;
    }

    #sideShow2 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .third-container {
        margin-right: 12px;
    }
    
    .mainHeader {
        display: none;
        position: fixed; /* Change to fixed */
        top: 0;
        right: 0;
        margin-right: 0;
        height: 100%;
        background: var(--background);
        flex-direction: column;
        z-index: 2;
        width: 50%;
    }
    
    .headcont {
        flex-direction: column;
    }

    .mainHeader li, #stage, .account {
        width: 100%;
    }

    .headerShow {
        display: flex;
    }

    #showMenu {
        display: block;
    }

    /* Default state: only sideShow1 is visible on smaller screens */
    #sideShow1 {
        display: block;
    }

    #sideShow2 {
        display: none;
    }

    /* Sidebar styling for smaller screens */
    #sidebar {
        display: none;
        position: fixed; /* Change to fixed */
        top: 0;
        right: 0;
        margin-right: 0;
        height: 100%;
        background: var(--background);
        flex-direction: column;
        z-index: 1;
        width: 50%;
        overflow-y: auto; /* Add scrolling for overflow content */
        overflow-x: hidden;
    }
    
    #sidebar li {
        width: 100%;
    }
}

@media (max-width: 374px) {
    .third-container {
        margin-left: 12px; /* Remove left margin */
        padding: 10px; /* Adjust padding if needed */
    }

    #sidebar {
        margin-right: 0; /* Remove right margin */
        display: none; /* Optionally hide sidebar on very small screens */
    }

    #ads {
        margin-left: 0px 12px; /* Adjust margins for ads section */
    }

    .main-container {
        flex-direction: column; /* Stack elements vertically */
    }

    .second-container {
        flex-direction: column; /* Stack elements vertically */
    }
}


/* Extra small devices (phones, less than 480px) */
/* @media (max-width: 479px) {} */

/* Small devices (portrait tablets and large phones, 480px and up) */
/* @media (min-width: 480px) and (max-width: 599px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media (min-width: 600px) and (max-width: 767px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media (min-width: 1200px) and (max-width: 1599px) {} */

/* Ultra large devices (large desktops, 1600px and up) */
/* @media (min-width: 1600px) {} */
