:root {
    --background: #f4f4f4;
    --coal: #333;
    --teal: #009688;
    --text: #d4cb9a;
}

::-webkit-scrollbar {
    display: none;
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--background);
    overflow-x: hidden;
    flex: 1;
}

/* loader */

.loadingPage {
    visibility: visible;
    flex: none;
    z-index: 6;
    background-color: var(--background) !important;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderCont {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    background: conic-gradient(from 90deg at 50% 50%, rgba(39, 174, 96, 0) 0deg, rgba(31, 144, 255, 0) 0.04deg, var(--teal) 360deg);
    border-radius: 56px;
    animation: 1s loader infinite linear;
    -webkit-animation: 1s loader infinite linear;
}

.loader::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background: var(--background);
    border-radius: 48px;
}

.loader::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background: var(--teal);
    border-radius: 8px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* header */

header {
    direction: rtl;
    display: flex;
    flex: none;
    background: var(--coal);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#showMenu {
    display: none;
}

#hideMenu {
    display: none;
}

#hideMenuInner {
    display: none;
    align-items: flex-start;
    width: fit-content;
}

header ul {
    gap: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

header li a, #stage, .material-icons {
    outline: none;
    border: none;
    background: transparent;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-weight: 600;
}

header li {
    cursor: pointer;
}

.headcont {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.material-icons {
    padding: 10.5px;
    cursor: pointer;
}

header .material-icons:hover {
    color: var(--teal);
}

header li a:hover, #stage:hover {
    color: var(--teal);
}

#stage {
    border-left: solid 10px transparent;
    padding-left: 0px;
    padding-right: 0;
    cursor: pointer;
}

option {
    background: var(--coal);
    color: var(--text);
    padding: 3px;
	font-size: 18px;
}

option:hover:before {
	display: inline;
}


optgroup {
    background: var(--coal);
    color: var(--teal);
}

.active {
    background: var(--text);
}

.active a {
    color: var(--teal);
}

.active a:hover {
    color: var(--coal);
}

/* header */

/* Main Content */

main {
    flex: 5 5;
}

.main-container {
    gap: 10px;
    display: none;
    flex-direction: column;
    flex: 1;
}

.upperContainer {
    color: var(--text);
    display: flex;
    background: var(--teal);
    width: 100%;
    height: 150px;
    margin: 0px 0 12px 0;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

#logoContainer {
    direction: ltr !important;
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; /* Ensure positioning context for the span and image */
    gap: 12px;
}

#logoContainer img {
    width: 70px;
    z-index: 2;
}

#logoContainer span {
    font-weight: 500;
    font-size: 50px;
}

.second-container {
    gap: 10px;
    box-sizing: border-box;
    flex: 5 5;
    display: flex;
    flex-direction: row-reverse;
}

.third-container {
    border: solid var(--text) 4px;
    flex: 5 5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: var(--background);
    padding: 20px;
    margin-left: 12px;
}

.third-container h1 {
    color: var(--teal);
    direction: rtl;
}

#sidebar {
    box-sizing: border-box;
    border: solid var(--text) 4px;
    font-weight: bolder;
    font-size: 17px;
    color: var(--teal);
    padding: 5px;
    justify-content: right;
    display: flex;
    flex: 1 1;
    background: var(--background);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
    flex-direction: column;
    overflow-y: scroll; /* Add scrolling for overflow content */
    overflow-x: hidden;
}

#ads {
    border: solid var(--text) 4px;
    padding: 10px;
    direction: rtl;
    flex: 10 10;
    background: var(--background);
    margin: 0 12px;
}

#ads p {
    background: var(--coal);
    padding: 10px;
    margin: 0;
    display: block;
    color: white;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button button {
    font-weight: bold;
    background: var(--teal);
    border: none;
    color: var(--background);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

#button button p {
    display: inline;
}

#button button:hover {
    color: var(--text);
}

/* Main Content */

/* footer */

footer {
    direction: ltr !important;
    font-weight: bold;
    margin-top: 10px;
    flex: none;
    background: var(--teal);
    padding: 10px;
    color: var(--background);
}

footer p {
    font-weight: bold;
}

/* footer */

/* Responsive Design */

/*------------------code------------------*/

@media screen and (min-width: 768px) {
    #sidebar {
        display: none;
    }

    .mainHeader {
        display: flex !important;
    }

    .headerShow {
        display: none;
    }

    #showMenu {
        display: none;
    }

    #hideMenu {
        display: none;
    }

    /* Default state: only sideShow1 is visible on larger screens */
    #sideShow1 {
        display: block;
    }

    #sideShow2 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .third-container {
        margin-right: 12px;
    }
    
    .mainHeader {
        display: none;
        position: fixed; /* Change to fixed */
        top: 0;
        right: 0;
        margin-right: 0;
        height: 100%;
        background: var(--background);
        flex-direction: column;
        z-index: 3;
        width: 50%;
    }
    
    .headcont {
        flex-direction: column;
    }

    .mainHeader li, #stage, .account {
        width: 100%;
    }

    .headerShow {
        display: flex;
    }

    #showMenu {
        display: block;
    }

    /* Default state: only sideShow1 is visible on smaller screens */
    #sideShow1 {
        display: block;
    }

    #sideShow2 {
        display: none;
    }

    /* Sidebar styling for smaller screens */
    #sidebar {
        display: none;
        position: fixed; /* Change to fixed */
        top: 0;
        right: 0;
        margin-right: 0;
        height: 100%;
        background: var(--background);
        flex-direction: column;
        z-index: 2;
        width: 50%;
        overflow-y: auto; /* Add scrolling for overflow content */
        overflow-x: hidden;
    }
    
    #sidebar li {
        width: 100%;
    }
}

@media (max-width: 374px) {
    .third-container {
        margin-left: 12px; /* Remove left margin */
        padding: 10px; /* Adjust padding if needed */
    }

    #sidebar {
        margin-right: 0; /* Remove right margin */
        display: none; /* Optionally hide sidebar on very small screens */
    }

    #ads {
        margin-left: 0px 12px; /* Adjust margins for ads section */
    }

    .main-container {
        flex-direction: column; /* Stack elements vertically */
    }

    .second-container {
        flex-direction: column; /* Stack elements vertically */
    }
}


/* Extra small devices (phones, less than 480px) */
/* @media (max-width: 479px) {} */

/* Small devices (portrait tablets and large phones, 480px and up) */
/* @media (min-width: 480px) and (max-width: 599px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media (min-width: 600px) and (max-width: 767px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media (min-width: 1200px) and (max-width: 1599px) {} */

/* Ultra large devices (large desktops, 1600px and up) */
/* @media (min-width: 1600px) {} */
