body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--background);
    overflow-x: hidden;
}

/* Style the popup container */
.popup-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    direction: rtl;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none; /* Hide by default */
    z-index: 1;
    display: flex;
}

/* Style the blur overlay */
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: blur(1000px);
    -webkit-filter: blur(1000px);
}

/* Style the popup content */
.popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Center the popup */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

#stage-C {
    flex: 1;
    cursor: pointer;
}

#sidecontainer {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between groups */
    flex: 1;
}

/* Style for the main groups */
.mainG {
    background-color: #f9f9f9; /* Light background color for groups */
    border: 1px solid #ddd; /* Light border for separation */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Style for sub groups */
.subG {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Divider between items */
    margin-right: 20px;
}

.subG:last-child {
    border-bottom: none; /* No divider for the last item */
}

/* Link styling within sub groups */
.subG a {
    flex: 1;
    text-decoration: none;
    color: #007bff; /* Link color */
    padding-right: 10px; /* Space between link and checkbox */
    direction: rtl;
}

/* Checkbox styling */
.subG input[type="checkbox"] {
    margin-left: 10px; /* Space between checkbox and link */
}